fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic[email]
scikit-learn
pandas
python-dotenv
alembic
httpx
google-auth
google-auth-oauthlib
google-api-python-client
groq
